<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Todas as Notícias</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <a href="#" class="logo fa-solid fa-ticket"> <span class="logo-text">CineVerso</span></a>
            <nav class="navbar">
                <a href="/" class="nav-link">Início</a>
                <a href="/listar" class="nav-link">Notícias</a>
                <a href="/criar" class="nav-link">Adicionar notícias</a>
            </nav>
        </header>

        <main>
            <section class="section-content">
                <h1 class="title">Todas as Notícias</h1>
                <% noticias.forEach(noticia=> { %>
                    <div class="news" id="<%= noticia.id%>">
                        <h2 class="news-title">
                            <%= noticia.titulo %>
                        </h2>
                        <img class="news-image" src="<%= noticia.imagem %>" alt="Imagem">
                        <p class="news-details">
                            <%= noticia.detalhes %>
                        </p>
                        <a href="/editar/<%= noticia.id %>" class="button edit-button">Editar</a>
                        <button onclick=deletarNoticia(<%= noticia.id %>) class="button delete-button">Excluir</a>
                    </div>
                    <% }) %>
            </section>
        </main>
    </div>
</body>

<script>
    function deletarNoticia(id){
        fetch(`/excluir/${id}`, {method: 'DELETE'}).then(() => {
            document.getElementById(`${id}`).remove();
        });
    }
</script>

</html>